<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}"
				sec:authorize="hasRole('ROLE_USER')">User Dashboard</a> <a
				class="navbar-brand" th:href="@{/home}"
				sec:authorize="hasRole('ROLE_ADMIN')">Admin Dashboard</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				</ul>
				<a th:href="@{/logout_user}"><button
						class="btn btn-outline-success" type="button">Logout</button></a>
			</div>
		</div>
	</nav>
</div>